.bg-violet{
    background-color: #F8F3F8;
}
.bg-grey{
    background-color: #F5F5F8;
}

.bg-blue{
    background-color: #842583;
}
.text-link{
    color: #842583;
}
.text-grey{
    color: #B2B2B2;
}

.bg-grey-blue{
    background: #d9e3e6;
}
.text-blue{
    color: #842583;
}
.b-all{
    border: 1px solid #E1E1E1;
}